main {
	padding-top: 112px;
}

@media (min-width: 1000px) {
	main {
		padding-left: 24px;
		padding-right: 24px;
		padding-bottom: 112px;
	}

	.bg-blue,
	.bg-yellow,
	.bg-primary {
		color: white;
		background-color: var(--dark);
	}
}

@media (max-width: 540px) {
	.collage {
		gap: 0;
	}
}

@media (max-width: 999px) {
	main {
		padding-top: 0;
	}

	.collage-text {
		border: none;
	}
}
