main {
	padding-top: 112px;
}

.collage {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	justify-content: space-between;
	align-content: stretch;
	row-gap: 85px;
	max-width: 1185px;
}

.collage-item {
	width: 540px;

	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.collage-item img {
	display: block;
	width: 100%;
	height: 670px;
	object-fit: cover;
}

.collage-text {
	padding: 30px;
	flex-grow: 1;
	color: white;
	background-color: var(--dark);
	border: none;
}

.collage-text h3 {
	font-size: 24px;
}
