main {
	padding-top: 112px;
}

@media (min-width: 751px) {
	.bg-blue,
	.bg-yellow,
	.bg-primary {
		color: white;
		background-color: var(--dark);
	}
}

@media (max-width: 750px) {
	main {
		padding-top: 0;
	}

	.collage {
		gap: 0;
	}

	.collage-text {
		border: none;
	}
}
