:root {
	--spacing: 92px;
}

main {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}

main > * {
	margin-top: var(--spacing);
}

.for-section {
	display: flex;
	gap: var(--spacing);
}

.for-section img {
	flex-shrink: 0;
	width: 455px;
	height: 507px;
	object-fit: cover;
}

@media (max-width: 750px) {
	:root {
		--spacing: 24px;
	}

	section,
	.for-section > div {
		padding-left: var(--spacing);
		padding-right: var(--spacing);
	}

	main,
	.for-section {
		padding-left: 0;
		padding-right: 0;
	}

	.for-section {
		flex-direction: column;
	}

	.for-section img {
		width: 100vw;
		height: 120vw;
	}
}
