main {
	padding: 48px 92px;
	max-width: 1100px;
	margin: auto;
}

main > *:not(:first-child) {
	margin-top: 50px;
}

section .btn {
	display: block;
	width: min-content;
	white-space: nowrap;
	margin-top: 34px;
}

@media (max-width: 999px) {
	h2 {
		font-size: 16px;
	}
	main {
		padding: 24px;
		font-size: 15px;
	}

	main > :first-child {
		margin-top: 0;
	}
}
