:root {
	--primary: #cb6ce6;
	--light: #ffffff;
	--blue: #0999b2;
	--yellow: #ffde59;
	--dark: #3b3930;

	--font-header: "Aldrich", "Courier New", sans-serif;
	--font-body: "Inter", sans-serif;

	--header-height: 123px;
}

html {
	font-family: var(--font-body);
	font-optical-sizing: auto;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

body {
	margin-top: var(--header-height);
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--header-height));
}

@media (max-width: 999px) {
	body {
		margin-top: 60px;
	}
}

main {
	flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: var(--font-header);
	font-optical-sizing: auto;
	letter-spacing: 0.1em;
	font-style: normal;
}

a {
	color: inherit;
	text-decoration: inherit;
}

button {
	cursor: pointer;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
}

nav {
	height: var(--header-height);
	padding: 7px 24px;
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;
}

.header-logo {
	display: flex;
	gap: 1rem;
	align-items: center;
	text-transform: uppercase;
}

.header-logo .header-text {
	letter-spacing: normal;
	font-weight: 400;
	font-family: var(--font-header);
	font-size: 32px;
}

.header-logo img {
	width: auto;
	height: 106px;
}

.header-links {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 25px;
	font-size: 20px;
}

.header-links a:hover:not(.btn) {
	text-decoration: underline;
}

.menu input[type="checkbox"] {
	display: none;
}

@media (max-width: 999px) {
	:root {
		--header-height: 60px;
	}

	nav {
		padding-left: 10px;
		padding-right: 10px;
	}

	.header-logo {
		flex-grow: 1;
	}

	.header-logo img {
		height: 37px;
		width: 37px;
	}

	.header-logo .header-text {
		display: flex;
		gap: 0.4em;
		font-size: 10px;
	}

	.menu {
		width: 37px;
		height: 37px;
		border: 2px solid black;
		overflow: hidden;
		border-radius: 999px;

		cursor: pointer;
		position: relative;
	}

	.menu span {
		content: "";
		width: 18px;
		left: 50%;
		transform: translateX(-50%);
		height: 2px;
		border-radius: 999px;
		background-color: currentColor;
		display: block;

		right: 0;
		position: absolute;
		transition: all 0.3s ease-in-out;
	}
	.menu span:nth-child(1) {
		top: 25%;
	}
	.menu span:nth-child(2) {
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.menu span:nth-child(3) {
		bottom: 25%;
	}
	.menu input[type="checkbox"] {
		display: block;
		position: absolute;
		opacity: 0;
		z-index: 10;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		margin: 0;
		cursor: pointer;
	}
	.header-links {
		display: none;
	}

	.menu:has(input:checked) span:nth-child(1) {
		transform: translate(-50%, 7px) rotate(45deg);
	}

	.menu:has(input:checked) span:nth-child(2) {
		opacity: 0;
	}

	.menu:has(input:checked) span:nth-child(3) {
		transform: translate(-50%, -7px) rotate(-45deg);
	}

	.menu:has(input:checked) + .header-links {
		background-color: white;
		display: flex;
		flex-direction: column;
		z-index: 5;
		top: 60px;
		left: 0;
		position: absolute;
		width: 100vw;
		height: 100vh;
		padding-top: 24px;
	}
}

.btn {
	display: inline-block;
	padding: 10px 16px;
	border: 1px solid var(--primary);
	color: black;
	text-decoration: none;
	background-color: var(--primary);
	border-radius: 10px;
}

.btn:hover {
	transition: all 0.15s ease-in-out;
	color: black;
	background-color: white;
}

.btn.cart-btn {
	color: currentColor;
	background-color: white;
}

.btn.cart-btn:hover {
	color: white;
	background-color: var(--primary);
	text-decoration: none;
}

.center {
	width: min-content;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	grid-auto-flow: row;
	place-content: center;
	grid-auto-columns: 1fr;
	padding: 24px;
	column-gap: 24px;
}

.grid img {
	grid-row: 1;
	width: 100%;
	height: 670px;
	object-fit: cover;
}

.grid-text {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
	padding: 40px;
	color: black;
	background-color: var(--dark);
	border: 2px solid black;
}

@media (max-width: 999px) {
	.grid {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.grid img {
		height: 110vw;
		object-position: bottom;
	}

	.grid-text {
		border: none;
	}

	.grid-text:nth-of-type(1) {
		order: 2;
	}

	.grid-text:nth-of-type(2) {
		order: 4;
	}

	.grid-text:nth-of-type(3) {
		order: 6;
	}

	.grid img:nth-of-type(1) {
		order: 1;
	}
	.grid img:nth-of-type(2) {
		order: 3;
	}
	.grid img:nth-of-type(3) {
		order: 5;
	}
}
@media (min-width: 1330px) {
	.grid {
		grid-auto-columns: 380px;
		padding: 57px 74px;
		column-gap: 74px;
	}
}

.collage {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	justify-content: space-between;
	align-content: stretch;
	row-gap: 85px;
	max-width: 1185px;
}

.collage-item {
	width: 540px;

	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.collage-item img {
	display: block;
	width: 100%;
	height: 670px;
	object-fit: cover;
}

.collage-text {
	padding: 30px;
	flex-grow: 1;
	color: white;
	background-color: var(--dark);
	border: none;
}

.collage-text h3 {
	font-size: 24px;
}

@media (max-width: 999px) {
	.collage {
		justify-content: center;
	}
}

footer {
	background-color: var(--light);
	display: grid;
	gap: 12px;
	grid-template:
		"logo logo logo"
		"tagline tagline tagline"
		"links-a links-b links-c";
	justify-content: space-between;
	padding: 48px 24px;
	border-top: 1px solid black;
}

footer .footer-header {
	text-align: center;
	text-transform: uppercase;
}

footer h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-family: var(--font-body);
	font-size: 20px;
	font-weight: bold;
	color: var(--primary);
}

footer img {
	grid-area: logo;
	place-self: center;
	height: 113px;
}

.bg-blue {
	color: black;
	background-color: var(--blue);
}

.bg-yellow {
	color: black;
	background-color: var(--yellow);
}

.bg-primary {
	color: black;
	background-color: var(--primary);
}
