main {
	padding: 112px 24px;
}

.collage-text {
	color: black;

	background-color: white;
	border: 1px solid black;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.collage-text p {
	flex-grow: 1;
}

@media (max-width: 1130px) {
	main {
		padding: 0;
	}

	.collage-item img {
		max-height: 400px;
	}

	.collage-text {
		border: none;
	}
}
