main {
	text-align: center;
	font-size: 24px;
}

.hero {
	width: 100vw;
}

section {
	padding: 64px 24px;
}

.content {
	max-width: 1300px;
	margin: auto;
}

hr {
	margin-bottom: 40px;
}

main h1 {
	font-size: 40px;
}

main h2 {
	font-family: var(--font-body);
	font-size: 32px;
	margin-top: 1em;
	margin-bottom: 1em;
}

ol {
	font-weight: 500;
}

@media (max-width: 999px) {
	main h1,
	main h2 {
		font-size: 16px;
	}

	main {
		font-size: 15px;
	}

	section {
		padding: 24px;
	}
}
